body {
  background: url(https://img.freepik.com/free-vector/flat-design-monsoon-season-clouds-illustration_23-2149424294.jpg?semt=ais_hybrid&w=740&q=80);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.weather-box {
  border: 3px solid white;
  padding: 50px;
  border-radius: 30px;
  background-color: azure;
}

.btn-warning.active {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
  color: white !important;
}

.btn-warning.active:hover {
  background-color: #218838 !important;
  border-color: #218838 !important;
}
